---
// Comments.astro
// Giscus Integration for Comments
// https://giscus.app/
---

<div class="giscus-container w-full mt-16 border-t border-off-white/20 pt-8">
    <script src="https://giscus.app/client.js"
        data-repo="mu3657/mu3657.github.io"
        data-repo-id="R_kgDOOV7PmA"
        data-category="Announcements"
        data-category-id="DIC_kwDOOV7PmM4C2Xsl"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="transparent_dark"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
    </script>
</div>
