---
---

<div class="fixed top-0 left-0 h-full w-[45%] hidden md:flex items-center justify-center pl-8 z-10 pointer-events-none">
    <div class="relative w-[30rem] max-w-full">
        <!-- Rotated Container -->
        <div class="relative w-full pb-[130%] -rotate-3 border-2 border-transparent" 
             style="background-image: url('/images/frame-16-9-portrait_snwdsp.png'); background-size: 100% 100%;">
             
             <!-- Inner Image Container -->
             <div class="absolute top-4 left-4 right-4 bottom-4 overflow-hidden">
                 <img src="/images/portrait2.jpg" alt="Portrait" class="w-full h-full object-cover" />
             </div>
        </div>
    </div>
</div>
