---
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';
import Transition from '../components/Transition.astro';
import Analytics from '../components/Analytics.astro';

interface Props {
	title?: string;
}

const { title = "Disco Elysium Archive" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
        <Analytics />
	</head>
	<body>
		<Transition />
		<slot />
	</body>
</html>
